<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 左侧功能区 -->
<div class="sidebar" th:fragment="sidebar">
    <h2>用户</h2>
    <ul>
        <li><a href="/user/info">用户信息</a></li>
        <li th:if="${hasRoleCreatePermission}"><a href="/user/role">角色编辑</a></li>
        <li th:if="${hasPermissionBindPermission}"><a href="/user/permission">权限编辑</a></li>
        <li th:if="${hasObjectManagementPermission}"><a href="/creator/objects">*外部对象管理</a></li>
        <li th:if="${hasObjectOrderCreatePermission}"><a href="/creator/objects-orders">*外部订单管理</a></li>
    </ul>
</div>
</body>
</html>