body {
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    background-color: #202020;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: calc(100vh - 75px);
}

.content {
    margin-left: 256px;
    width: calc(100% - 256px); /* 默认宽度，紧靠侧边栏 */
    padding: 48px;
    background-color: #1A1A1A;
    transition: all 0.3s ease;
    overflow-y: scroll;
}

.trade-content {
    width: 100%;
    padding: 48px;
    background-color: #1A1A1A;
    transition: all 0.3s ease;
    overflow-y: scroll;
}

.centered {
    text-align: center;
}

.centered h1 {
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.centered .subtitle {
    font-size: 18px;
    color: #888;
    margin-bottom: 32px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #252525;
    padding: 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.block:hover {
    background-color: #333;
}

.block img {
    margin-bottom: 16px;
}

.block span {
    font-size: 18px;
}

@media (max-width: 1280px) {
    .blocks {
        gap: 12px; /* 缩小间隔到12px */
    }

    .block {
        padding: 16px; /* 调整内边距 */
    }

    .block img {
        width: 128px; /* 调整图标大小到128px */
        height: 128px;
        margin-bottom: 12px; /* 调整图标与文字间的间距 */
    }

    .block span {
        font-size: 16px; /* 调整文字大小 */
    }
}

@media (max-width: 750px) {
    .blocks {
        flex-direction: column; /* 改为上下排列 */
        gap: 16px; /* 间隔设为16px */
    }

    .block img {
        width: 160px; /* 调整图标大小到160px */
        height: 160px;
        margin-bottom: 16px; /* 调整图标与文字间的间距 */
    }

    .block span {
        font-size: 18px; /* 恢复文字大小 */
    }

    .content {
        margin-left: 0;
        width: 100%; /* 占满全屏 */
    }
    /* 侧边栏隐藏时的样式 */

}

.sidebar-hidden .content {
    width: 100%; /* 隐藏侧边栏时占满全屏 */
}
