.container {
    display: flex;
    height: 100vh;
}

.content {
    width: calc(100% - 256px); /* 默认宽度 */
    padding: 48px;
    background-color: #1A1A1A;
    transition: all 0.3s ease;
}

/* 屏幕宽度小于750px时的样式 */
@media (max-width: 750px) {
    .content {
        width: 100%; /* 占满全屏 */
    }
}

/* 侧边栏隐藏时的样式 */
.sidebar-hidden .content {
    width: 100%; /* 隐藏侧边栏时占满全屏 */
}
