/* 基础样式 */
html, body {
    font-family: 'Microsoft YaHei', sans-serif;
    background-color: #1A1A1A;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: grid;
    height: 100vh;
    overflow: auto;
    grid-template-rows: auto;
}

.content {
    padding: 24px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 24px;
}

.panel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 32px;
    justify-content: center;
}

.panel {
    flex: 0 0 calc(45% - 16px);
    background-color: #252525;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 16px;
    min-height: 300px;
}

.panel h2 {
    text-align: center;
    margin-bottom: 16px;
}

.panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panel li {
    padding: 8px 0;
    border-bottom: 1px solid #555;
}

.panel li:last-child {
    border-bottom: none;
}

/* 表格样式 */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #555;
}

.data-table th {
    background-color: #333;
    font-weight: bold;
}

.data-table tbody tr:hover {
    background-color: #3A3A3A;
}

.data-table td[colspan] {
    text-align: center;
}



.iframe-panel iframe {
    width: 100%;
    height: fit-content;
    min-height: calc(100% - 64px); /* 设置一个最小高度，确保内容可见 */
}

@media (max-width: 1000px) {
    .panel-container {
        gap: 32px;
    }

    .panel {
        flex: 0 0 90%; /* 一行显示 1 个 */
    }

    .content {
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    }
}