/* 滚动条整体样式 */
::-webkit-scrollbar {
    width: 12px; /* 滚动条宽度 */
    height: 24px; /* 滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: #1A1A1A; /* 轨道背景色 */
    border-radius: 12px; /* 轨道圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: #303030; /* 滑块颜色 */
    border-radius: 12px; /* 滑块圆角 */
    border: 6px solid #1A1A1A; /* 滑块边框 */
}

/* 滚动条滑块 hover 状态 */
::-webkit-scrollbar-thumb:hover {
    background-color: #393939; /* 滑块 hover 颜色 */
}