.sidebar {
    width: 256px; /* 默认宽度 */
    background-color: #202020;
    padding: 32px 24px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;
    transition: all 0.3s ease;
}

.sidebar h2 {
    color: #ffffff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #202020;
}

.sidebar ul li a:hover {
    background-color: #252525;
}

/* 关闭按钮样式 */
.sidebar .close-btn {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* 遮罩层样式 */
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* 屏幕宽度小于750px时的样式 */
@media (max-width: 750px) {
    .sidebar {
        width: 192px; /* 缩小宽度 */
        left: -192px; /* 默认隐藏 */
    }

    .sidebar.active {
        left: 0; /* 呼出 */
    }

    .overlay.active {
        display: block; /* 显示遮罩层 */
    }
}

/* 屏幕宽度小于512px时的样式 */
@media (max-width: 512px) {
    .sidebar {
        width: 100%; /* 全屏显示 */
        left: -100%; /* 默认隐藏 */
    }

    .sidebar.active {
        left: 0; /* 呼出 */
    }

    .sidebar .close-btn {
        display: block; /* 显示关闭按钮 */
    }
}
