.menu-icon {
    position: fixed;
    top: 16px;
    left: 16px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none; /* 默认隐藏 */
}


.sidebar {
    width: 208px; /* 默认宽度 */
    background-color: #202020;
    padding: 32px 24px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s ease;
}

.sidebar h2 h4 {
    color: #ffffff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    left: 12px;
    padding-inline-start: 0px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #202020;
}

.sidebar ul li a:hover {
    background-color: #252525;
}

/* 关闭按钮样式 */
.sidebar .close-btn {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* 遮罩层样式 */
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* 屏幕宽度小于750px时的样式 */
@media (max-width: 750px) {
    .menu-icon {
        display: block;
    }

    .sidebar {
        left: -256px; /* 默认隐藏 */
    }

    .sidebar.active {
        left: 0; /* 呼出 */
    }

    .overlay.active {
        display: block; /* 显示遮罩层 */
    }
}

/* 屏幕宽度小于512px时的样式 */
@media (max-width: 512px) {
    .sidebar {
        width: 100%; /* 全屏显示 */
        left: calc(-100% - 48px); /* 默认隐藏 */
    }

    .sidebar.active {
        left: 0; /* 呼出 */
    }

    .sidebar .close-btn {
        display: block; /* 显示关闭按钮 */
    }

    .sidebar ul {
        padding-right:40px;
    }
}