/* userinfo.css */
body {
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    background-color: #202020;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    margin-left: 256px;
    width: calc(100% - 256px); /* 默认宽度，紧靠侧边栏 */
    padding: 48px;
    background-color: #1A1A1A;
    transition: all 0.3s ease;
}
.user-info {
    display: flex;
    flex-direction: row;
}

.avatar img {
    width: 256px;
    height: 256px;
    border-radius: 5%;
}

.details {
    margin-left: 20px;
}

.details h1 {
    font-size: 24px;
}

.details .username {
    font-size: 32px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 128px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body ul {
    padding-inline-start: 0px;
}

.modal-content {
    background-color: #141414;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* 输入框和按钮样式 */
input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: #141414;
    border: 1px solid #555;
    color: #FFFFFF;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    padding: 8px;
    width: calc(100% - 20px);
    border-radius: 4px;
}

button {
    background-color: #141414;
    color: #FFFFFF;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    border: 1px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #202020;
}

#avatarUpload button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

#avatarUpload button:hover {
    background-color: #555;
}

@media (max-width: 900px) {
    .user-info {
        flex-direction: column;
    }

    .details {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 750px) {
    .content {
        margin-left: 0;
        width: 100%; /* 占满全屏 */
    }

    .modal {
        left: 0;
    }
}